<div class="prose w-svw h-svh">
  @if(user$ | async; as user){
  <app-header [user]="user"></app-header>

  <!-- THE CONTENT FOR THIS PAGE -->
  @if (trip$ | async; as trip) { @if (selectedCurrency$ | async; as
  selectedCurrency) {
  <div class="card w-full h-1/3 bg-base-100 rounded-sm">
    <figure>
      <img
        class="object-fit"
        [src]="getHolidayPhotoSrc(trip.photoNumber)"
        alt="Holiday Image"
      />
    </figure>
    <div>
      <h1 class="font-lato text-3xl font-semibold m-0">
        Itinerary for {{ trip.tripName }}
      </h1>
      <div class="flex items-center gap-1">
        <i class="material-icons">location_on</i>
        <span class="text-xl">{{ trip.destination }}</span>
      </div>
      <div class="flex items-center gap-1">
        <i class="material-icons">account_balance_wallet</i>
        <span class="font-semibold">Budget</span>
        <span>{{ selectedCurrency.symbolNative }}{{ totalCost }}</span>
      </div>
    </div>
  </div>

  <div class="content-center relative w-[100%]">
    <div
      class="flex flex-col justify-center relative z-10 bg-base-100 p-5 pt-1"
    >
      <div class="flex flex-col gap-2 self-center">
        @if(itinerary$ | async; as itinerary) { @if (itineraryDates$ | async; as
        itineraryDates) { @for (date of itineraryDates; track date) {
        <div class="collapse collapse-arrow bg-base-200">
          <input type="radio" name="my-accordion-2" checked="checked" />
          <div class="collapse-title text-xl font-medium">
            {{ date }}
          </div>
          <div class="collapse-content">
            @for (item of itinerary; track item.itemId) { @if
            (getItemsDay(item.startDateTime) === date) {
            <app-itinerary-item [item]="item"></app-itinerary-item>
            } }
          </div>
        </div>
        } } } @else {
        <p class="font-lato text-center flex flex-col gap-2">
          <span>No itinerary items.</span>
          <span
            >Add to your itinerary to start planning your unforgettable
            trip.</span
          >
        </p>
        }
      </div>
      <button
        (click)="toggleTripForm(false)"
        class="btn btn-lg btn-secondary font-lato text-xl self-center"
      >
        Add to Your Itinerary
      </button>
    </div>

    <div
      id="add-item-form"
      class="absolute top-0 left-0 w-[100%] h-[100%] backdrop-blur-sm z-20 hidden"
    >
      <app-add-item
        [trip]="trip"
        [selectedCurrency]="selectedCurrency"
        id="add-trip-form"
        class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] bg-base-100 p-5 z-30"
        (submittedEvent)="toggleTripForm($event)"
      ></app-add-item>
    </div>
  </div>
  } } @else {
  <div class="flex-col gap-1">
    <span>Oops! Looks like we cannot find the trip that you selected.</span>
    <button routerLink="/trips" class="btn btn-active btn-link">
      Select a trip
    </button>
  </div>
  } } @else {
  <div class="flex-col gap-1">
    <span>Oops! Looks like you are not logged in.</span>
    <button routerLink="/login" class="btn btn-active btn-link">Login</button>
  </div>
  }
</div>
