<h1>Itinerary</h1>
<!-- this button will toggle the form display -->

@if (trip$ | async; as trip) {
<div>{{ trip.tripName }}</div>
<div>{{ trip.tripName }}</div>
}

<button>Add an item</button>

@if(itinerary$ | async; as itinerary){ @for (item of itinerary; track
item.itemId) {
<app-itinerary-item [item]="item"></app-itinerary-item>

} }@else {
<div>No itinerary items. Add items to build your trip.</div>
}

<form [formGroup]="form" (ngSubmit)="addAnItem()">
  <h2>Add to your itinerary</h2>
  <div>
    <input type="text" placeholder="Title" formControlName="name" />
  </div>
  <div>
    <input type="text" placeholder="Location" formControlName="location" />
  </div>
  <div>
    <p>Tag:</p>
    <input
      type="radio"
      id="placeToStay"
      name="placeToStay"
      value="Place to stay"
    />
    <label for="placeToStay">Place to stay</label><br />
    <input
      type="radio"
      id="foodAndDrink"
      name="foodAndDrink"
      value="Food and drink"
    />
    <label for="foodAndDrink">Food and drink</label><br />
    <input
      type="radio"
      id="activityOutdoor"
      name="activityOutdoor"
      value="Outdoor Activity"
    />
    <label for="activityOutdoor">Outdoor Activity</label><br />
    <input
      type="radio"
      id="activityIndoor"
      name="activityIndoor"
      value="Indoor Activity"
    />
    <label for="activityIndoor">Indoor Activity</label><br />
    <input
      type="radio"
      id="sightSeeing"
      name="sightSeeing"
      value="Sight Seeing"
    />
    <label for="sightSeeing">Sight Seeing</label><br />
    <input type="radio" id="relaxation" name="relaxation" value="Relaxation" />
    <label for="relaxation">Relaxation</label><br />
    <input type="radio" id="travel" name="travel" value="Travel" />
    <label for="travel">Travel</label><br />
    <input type="radio" id="occasion" name="occasion" value="Occasion" />
    <label for="occasion">Occasion</label><br />
    <input type="radio" id="event" name="event" value="Event" />
    <label for="event">Event</label><br />
    <input type="radio" id="culture" name="culture" value="Culture" />
    <label for="culture">Culture</label><br />
  </div>
  <div>
    <input type="text" placeholder="Starts" formControlName="startDateTime" />
  </div>
  <div>
    <input type="text" placeholder="Ends" formControlName="endDateTime" />
  </div>
  <div>
    <input
      type="number"
      placeholder="Cost Estimate"
      formControlName="costEstimate"
    />
  </div>
  <div>
    <input type="text" placeholder="Notes" formControlName="notes" />
  </div>
  <div>
    <button type="submit">Add to itinerary</button>
  </div>
  <div>
    <!-- this will toggle off the display for the form -->
    <button>Cancel</button>
  </div>
</form>
