<div class="prose w-svw h-svh">
  @if(user$ | async; as user){
  <app-header [user]="user"></app-header>
  <span class="text-xl font-lato p-2"
    >Good {{ timeOfDay }}, {{ user.name }}</span
  >
  <h1 class="text-2xl font-lato font-medium mt-2 mb-0 p-2">Your trips</h1>

  <div class="content-center relative w-[100%]">
    <div
      class="flex flex-col justify-center relative z-10 bg-base-100 p-5 pt-1"
    >
      <button
        (click)="toggleTripForm(false)"
        class="btn btn-circle btn-lg btn-secondary font-lato text-3xl self-center"
      >
        +
      </button>
      <div
        class="flex flex-col sm:flex-row flex-nowrap sm:flex-wrap gap-2 mt-1 self-center"
      >
        @if(trips$ | async; as trips){ @for (trip of trips; track trip.tripId) {
        <app-trip-card
          [trip]="trip"
          (tripClicked)="navigateToTripDetails($event)"
        ></app-trip-card>
        } }
      </div>
    </div>
    <dialog class="modal max-h-32">
      <div id="add-trip-form" class="modal-box">
        <app-add-trip
          id="add-trip-form"
          class=""
          [user]="user"
          (submittedEvent)="toggleTripForm($event)"
        ></app-add-trip>
      </div>
    </dialog>
  </div>
  } @else{
  <div>
    <span>Opps, looks like you are not logged in. </span>
    <a routerLink="/login">Login</a>
    <a routerLink="/register"> Register</a>
  </div>
  }
</div>
