<h1>Login</h1>

@if (error$ | async; as errorMessage) {
<div>{{ errorMessage }}</div>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" placeholder="Email" formControlName="email" />
    @if (email?.invalid && (email?.dirty || email?.touched)) {
    <div class="alert">
      @if (email?.hasError('required')) {
      <div>Email is required</div>
      }
    </div>
    }
  </div>
  <div>
    <input type="password" placeholder="Password" formControlName="password" />
    @if (password?.invalid && (password?.dirty || password?.touched)) {
    <div class="alert">
      @if (password?.hasError('required')) {
      <div>Password is required</div>
      }
    </div>
    }
  </div>
  <div>
    <button type="submit" [disabled]="!form.valid">Sign In</button>
  </div>
  <div>Don't have an account? <a routerLink="/register"> Register</a></div>
</form>
