<h1>Add a trip</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" placeholder="Trip name" formControlName="tripName" />
    @if (tripName?.invalid && (tripName?.dirty || tripName?.touched)) {
    <div class="alert">
      @if (tripName?.hasError('required')) {
      <div>The name of the trip is required</div>
      }@if (tripName?.hasError('pattern')) {
      <div>The name of the trip contains characters that are not allowed.</div>
      }
    </div>
    }
  </div>
  <div>
    <input
      type="text"
      placeholder="Destination"
      formControlName="destination"
    />
    @if (destination?.invalid && (destination?.dirty || destination?.touched)) {
    <div class="alert">
      @if (destination?.hasError('required')) {
      <div>The destination of the trip is required</div>
      }@if (destination?.hasError('pattern')) {
      <div>The destination name contains characters that are not allowed.</div>
      }
    </div>
    }
  </div>
  <!-- in UI feature add *required instead -->
  <div>
    <!-- TO-DO: in ui/css toggle the form display -->
    <button>Cancel</button>
  </div>
  <div>
    <button type="submit" [disabled]="!form.valid">Create trip</button>
  </div>
</form>
